body {
    background-color: lightgray;
    font-family: "Poppins", sans-serif;
  }
  
  .info {
    height: 100px;
    background-color: blueviolet;
  }
  
  .formContainer {
    background-color: #d8d6d6;
  }
  
  /* .button_block {
    display: flex;
    justify-content: flex-end;
  } */